@{
    ViewData["Title"] = "About Page";
    Layout = "_Layout";

    var name =  "Arshia Moradi";
    var studentNumber = "101490287";
    var courseCode = "COMP2139";
    var courseSection = "54321";
}
<h2>About</h2>

<div>
    <h2>Welcome to my Application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <h2>Section: @courseSection</h2>
</div>