

@{
    ViewBag.Title = "About page";
    Layout = "_Layout";
    //Define vairable profile variables
    var name = "Arshia Moradi";
    var studentNumber = "101490287";
    var courseCode = "COMP2139";
    var courseSection = "50259";
}

<h2>About </h2>
<div>
    <h2>Welcome to my application</h2>
    <h2>Name: @name</h2>
    <h2>Student Number: @studentNumber</h2>
    <h2>Course Code: @courseCode</h2>
    <h2>section: @courseSection</h2>
</div>
